<b>Enter User Data</b>
<form #userData="ngForm" (ngSubmit)="addUser(userData)" (ngSubmit)="updateUser(userData)" >
  UserId: <input type="text" name="userid" ngModel/><br>
  Password: <input type="text" name="password" ngModel/><br>
  EmailId: <input type="email" name="emailid" ngModel/><br>
  <input type="submit" value="AddUser" /><br>
  <input type="button" value="GetUser" (click)="getAllUsers()" /><br>
  <input type="submit" value="update" /><br>
  
</form>
<br><p>{{this.expresponse.substring(3,this.expresponse.length-4)}} </p><br><br>
<table border>
  <tr>
    <th>UserId</th>
    <th>Password</th>
    <th>emailId</th>
  </tr>
  <tbody>
  <tr *ngFor="let user of userList">  
    <td>{{ user.userid }}</td>
    <td>{{ user.password }}</td>
    <td>{{ user.emailid }}</td>
  </tr>
  </tbody>
</table><br><br>


  <!--<input type="submit"  (click)="updateUser()" /><br> <br>-->
  